.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  width: 100%;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.projectitemhead {
  font-size: 23px;
  padding: 30px;
}

.showcase1 {
  width: 640;
  height: 420px;
  background: white;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}


.showcase2 {
  height: 300px;
  width: 100%;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}


.img {
  flex: 1;
  margin: 0px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.info {
  flex: 2;
  margin-bottom: 30px;
}

.info a{
  font-size: 20px;
}

.mywork {
  top: 20px;
  right: 80px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mywork p{
  font-size: 20px;
  font-weight: bold;
}


.viewmore {
  padding: 10px;
  position: relative;
  top: 80px;
  left: 80px;
}

@media (max-width: 600px) {
  .showcase1 {
    width: 100%;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .showcase2 {
    width: 100%;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .project {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }

  .btn {
    display: inline-block;
    background: #0d47a1;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    margin-right: 10px;
  }

  .info a{
    font-size: 15px;
  }

  .viewmore {
    padding: 10px;
    position: relative;
    top: 30px;
    left: 0px;
  }
}
