.project {
  position: relative;
  top: -35px
}

.projecthead {
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
}

.projectparam {
  width: 500px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
}

.projectparamtext {
  padding-right: 10px;
}

.project h3 {
  font-size: 25px;
}

.project p {
  margin: 10px 0;
}

.image {
  margin-top: 10px;
  margin-bottom: 10px;
}

.controls {
  position: absolute;
  right: 30px;
  top: 0;
}

.delete {
  margin-left: 20px;
  color: red;
}

.back {
  display: block;
  margin-top: 40px;
}
