.showcase {
  height: 400px;
  width: 100%-10px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/dark_ocean.png');
  background-position: center;
}

.showcase * {
  z-index: 10;
}

.showcase1 {
  position: absolute;
  height: 350px;
  width: auto;
  bottom: 0px;
  right: 150px;
}
.showcase1 * {
  z-index: 20;
}

.showcase2 {
  height: 300px;
  width: 100%;
  background: white;
  background-size: 350px;
  background-position: center top;
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.showcase3 {
  height: 300px;
  width: 100%;
  background: white;
  background-size: 350px;
  background-position: center top;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.showcase3a {
  font-weight: 500;
}


.showcase3b {
  height: 45px;
  width: 100%;
  background: white;
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.showcase3c {
  height: 80px;
  width: 100%;
  background: white;
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}


.emo_size0 {
  font-size: 18px
}

.emo_size {
  font-size: 20px
}

.showcase4 {
  height: 300px;
  width: 100%;
  background: white;
  background-size: 350px;
  background-position: center top;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
}


.showcase2>* {
  height: 300px;
  width: 100%/2;
}

.showcase h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.showcasetext {
  width: 40%;
  position: relative;
  text-align: right;
  top: 60px;
  right: 250px;
  font-size: 25px;
  color: white;
}

.texth3 {
  padding: 10px;
}


@media (max-width: 1400px) {
  .showcasetext {
    position: relative;
    top: 120px;
    right: 250px;
    font-size: 15px;
    color: white;
  }

  .showcase2 {
    height: 500px;
    width: 100%;
    background: white;
    background-size: 500px;
    background-position: center top;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
  }
  .showcase1 {
    height: 350px;
    width: auto;
    right: 150px;
  }
  }


@media (max-width: 1000px) {
  .showcase {
    height: 400px;
    width: 100%-10px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    margin: 20px;
  }

  .showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/dark_ocean.png');
    background-position: center;
  }

  .showcase1 {
    height: 300px;
    width: auto;
    bottom: 0px;
    right: 10px;
  }
  .showcase2 {
    height: 500px;
    width: 100%;
    background: white;
    background-size: 500px;
    background-position: center top;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    font-size: 12px;
  }

  .showcase3 {
    height: 50%;
    width: 100%;
    background: white;
    background-size: 350px;
    background-position: center top;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    font-size: AuthContext;
    padding-top: 0px;
    font-size: 12px;
  }

  .showcase4 {
    font-size: 12px;
  }

  .showcase3a {
    font-size: 9px;
  }
  .showcase3b {
    font-size: 9px;
    height: 30px;
    font-weight: bold;
  }

  .showcase3c {
    font-size: 12px;
    height: 60px;
    font-weight: bold;
  }

  .showcasetext {
    width: 80%;
    position: relative;
    text-align: left;
    top: -155px;
    right: 0px;
    font-size: 12px;
    color: white;
  }

  .emo_size {
    font-size: 15px
  }

}
